.name{
   
    display: flex;flex-direction: row;
    width: fit-content;
    gap: 20px;align-items: center;
    cursor: pointer;
    

}

.name > .cube{
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
}



.name > h1{
    font-size: clamp(1rem, 2vw + .1rem, 2.2rem)

}

a{
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000000000;
    border-right : 3px solid #FFF;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a {
    padding: 10px;
    color: #FFF;
    opacity: 0.67;
    transition: all 0.2s;
}
 nav a.selected{
    opacity: 1;
    border-left: 2px solid var(--main-color);
 }
 